/*
Universal Style
*/
body {
    background-color: black;
}
img {
    max-width: 100%;
}
h1 {
    font-weight: normal;
}
h2 {
    font-weight: normal;
}
h3 {
    font-weight: normal;
}

a:link {
    color: magenta;
}
a:hover {
    color: magenta;
}
a:active {
    color: magenta;
}
a:visited {
    color:darkmagenta;
}

/*
Generic Content Style
*/
#content {
    margin: 2.5% 5%;
    padding: 1% 2.5%;
    background-color: white;
}
.content-description {
    font-family: 'Alegreya', serif;
    font-size: 1em;
    padding: 1% 2.5%;
}
.content-title {
    font-size: 1.5em;
    font-family: 'Germania One', cursive;
}

/*
About Style
 */
#about-content {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;

    justify-content: space-evenly;
}
#about-picture {
    max-width: 50%;
}
#email {
    font-family: "Germania One",cursive;
    color: magenta;
    font-size: 1.25em;
}

/*
Updates Style
 */
.update-section {
    padding: 2.5% 5%;

    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.update-article {
    font-family: 'Alegreya', serif;
    width: 70%;
    font-size: 1em;
}
.update-date {
    font-family: "Germania One", cursive;
    font-size: 2em;
}
.update-divider {
    font-family: "Germania One", cursive;
    text-align: center;
    font-size: 3em;
    color: cyan;
}

/*
media thumbnails
 */
#thumbnail-container {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 2em;
}
.section-title{
    font-size: 2.5em;
    font-family: 'Germania One', cursive;
    text-align: center;
    padding-top: .5em;
}
.thumbnail{
    width: 40%;
    align-self: flex-end;
}

.thumbnail-title {
    color: magenta;
    text-align: center;
    font-family: "Germania One", cursive;
    font-size: 2em;
}

.thumbnail-img {
    width: 100%;
    border-style: solid;
    border-color: black;
}

/*
Video
 */


.video-container {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: center;
}

iframe {
    width: 640px;
    height: 360px;
    border: none;
}

.content-title {
    text-align: center;
}

.content-description {
    padding: 0 10% 1% 10%;
}

/*
Gallery
 */

#slide-container {

    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin: 0 auto;
    padding: 3%;
}

.slide{
    max-width: 45%;
    align-self: flex start;
    padding-bottom: 2.5em;
}

.gallery-image {
    max-height: 90vh;
    object-fit: scale-down;
}

/*
Generic Nav Style
 */
nav {
    font-family: 'Germania One',cursive;
    font-size: 3em;

    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;

    justify-content: space-evenly;
    align-items: center;
}

.nav-image {
    max-height: 3em;
}

nav a:link {
    color: #ffffff;
}
nav a:hover {
    color: #ffffff;
}
nav a:active {
    color: #ffffff;
}
nav a:visited {
    color: #ffffff;
}

/*
Splash Page Style
*/
#splash {
    background-color: black;
    height: 100%;
}
#splash-image {
    margin: auto;
    display: block;
    height: 80vh;
    max-width: 80%;
}
#bottom-nav {
    position: fixed;
    width: 100%;
    bottom: 10%;
}
#bottom-nav a:link {
    color: #fff;
}
#bottom-nav a:hover {
    color: #fff;
}
#bottom-nav a:active {
    color: #fff;
}
#bottom-nav a:visited {
    color: #fff;
}



/*
Footer
 */
footer {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    justify-content: center;
}
footer a{
    padding: 1em;
}

/*
Scalability
 */
@media (min-width: 1200px) {
    #content {
        margin: 0 20%;
    }

}
@media (max-width: 600px) {
    nav {font-size: 2em;}
    .thumbnail-title {font-size: 2em;}
    .content-title {font-size: 2em;}
    .slide {
        width: 100%;
    }
}
@media (orientation: portrait) {
    .nav-image {display: none;}
    #about-content {
        flex-wrap: wrap;
    }
    .thumbnail {
        width: 100%;
    }
}
