<nav>
    {% if page.layout != "splash" %}
<!--        <a href="{{ site.baseurl }}/index.html">-->
            <img src="{{ site.baseurl }}/images/icons/logo_white.svg" alt="logo" class="nav-image">
<!--            poopoo-->
<!--        </a>-->
    {% endif %}

    <a href="{{ site.baseurl }}/gallery/index.html">Gallery</a>
    <a href="{{ site.baseurl }}/theater/index.html">Theater</a>
    <a href="{{ site.baseurl }}/library/index.html">Library</a>
    <a href="{{ site.baseurl }}/about.html">About</a>
</nav>