@charset "UTF-8";

@import "baseStyle";

#media-container {
  @include flexDefault(space-evenly, default);
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 3%;

  .video {
    max-width: 45%;
    align-self: flex-start;
    padding-bottom: 2.5em;
  }

  .gallery-image {
    max-height: 90vh;
    object-fit: scale-down;
  }
}
