@import "baseStyle";


// Library Style
.library-section {
  padding: ($content-padding-horizontal * 2) ($content-padding-vertical * 2);
  @include flexDefault(center, baseline);
}

.library-article {
  //@include flexDefault(center, center); // Uncomment this
  font-family: $content-font;
  padding: 0 25%;
  font-size: $content-font-size;
  //width: 75%; // change this value to what you want
  align-items: center; // Uncomment this
  //padding: 0 25%; // Uncomment this to center the div itself
  //flex-direction: column; // Add this to align your content vertically
  //max-width: 75ch;

  //text-overflow: '-';
}


.divider {
  font-family: $title-font;
  text-align: center;
  font-size: $largeTitle-font-size;
  color: cyan;
}