@import "baseStyle";


// Library Style
.library-section {
  padding: ($content-padding-horizontal * 2) ($content-padding-vertical * 2);
  @include flexDefault(center, baseline);
}

.library-article {
  //@include flexDefault(center, center); // Uncomment this
  font-family: $content-font;
  padding: $content-padding-vertical 25%;
  font-size: $content-font-size;
  max-width: 50%;
  align-items: center; // Uncomment this
}


.divider {
  font-family: $title-font;
  text-align: center;
  font-size: $largeTitle-font-size;
  color: cyan;
}