@import "baseStyle";


// Updates Style
.update-section {
  padding: 2.5% 5%;
  @include flexDefault(space-between, baseline);
}

.update-article {
  font-family: $content-font;
  width: 70%;
  font-size: $content-font-size;
}

.update-date {
  font-family: $title-font;
  font-size: $largeTitle-font-size;
}