@import "baseStyle";

// Library Style
.library-section {
  padding: $content-padding * 2;
  @include flexDefault(center, baseline);
}

.library-article {
  //@include flexDefault(center, center);
  font-family: $content-font;
  width: 50%;
  font-size: $content-font-size;
  //align-items: center;
  //padding: 0 25%;
}

.divider {
  font-family: $title-font;
  text-align: center;
  font-size: $largeTitle-font-size;
  color: cyan;
}