
nav {
    font-family: 'Germania One', cursive;
}

body {
    font-family: 'Merriweather', serif;
}

h1 {
    font-family: 'Merriweather Sans', sans-serif;
}




/*
Set Bootstrap
Set fonts
Create header
Create menu
Create footer
*/