<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <title>
        ~{{ page.title }}~
    </title>
</head>
<body>
<main>
    {% include navHeader.html %}

    <div id="content">
<!--            contain thumbnails-->

        {% for category in site.data[page.media_data] %}
            <h1 class="section-title" >{{ category.category }}</h1>
            <div id="thumbnail-container">
    <!--                base thumbnail-->
                {% for collection in category.collections %}
                <a class="thumbnail" href="{{ collection.path }}">
                    <h1 class="thumbnail-title">{{ collection.name }}
                        {% if collection.subtitle %}
    <!--                    <div class="thumbnail-title thumbnail-title&#45;&#45;subtitle">-->
                            : <br> {{ collection.subtitle }}
    <!--                    </div>-->
                        {% endif %}
                    </h1>
                    {% if collection.thumbnail %}
                        <img alt="pages thumbnail" src="{{ collection.thumbnail }}" class="thumbnail-img">
                    {% endif %}
                </a>
                {% endfor %}

            </div>
    <!--                use divider to separate categories-->
            {% unless forloop.last %}
                <div class="divider"># # #</div>
            {% endunless %}
        {% endfor %}
    </div>

    <footer>
        {% include footer.html %}
    </footer>
</main>
</body>
</html>
