<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <title>
        ~{{ page.title }}~
    </title>
</head>
<body>
<main>
    {% include navHeader.html %}

    <div id="content">
        {{ content }}

        <div class="divider">* * *</div>
        <div class="content-title">
            {{ page.content_title }}
        </div>
        <div class="content-description">
            {{ page.content_description }}
        </div>
    </div>

    <footer>
        {% include footer.html %}
    </footer>
</main>
</body>
</html>