<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <title>
        ~{{ page.title }}~
    </title>
</head>
<body>
<main>
    {% include navHeader.html %}
    <div id="content">

        {% for post in site.posts %}

            {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
            {% if year == page.updateYear %}
                <section class="update-section">
                    <div class="update-date">
                        {{ post.date | date: "%-d" }} {{ post.date | date: "%b" }} <br>
                        {{ post.date | date: "%Y" }}
                    </div>
                    <article class="update-article">
                        {{ post.content }}
                    </article>
                </section>
                {% unless forloop.last %}
                    <div class="divider">#</div>
                {% endunless %}
            {% endif %}
        {% endfor %}

    </div>
    <footer>
        {% include footer.html %}
    </footer>
</main>
</body>
</html>
